body {
    font-family: "Montserrat", sans-serif;
    background-color: #343a40; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto claro */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url('img-4.jpg'); /* Imagem de fundo */
    background-size: cover; /* Tornar o background responsivo */
    background-position: center; /* Centralizar a imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem de fundo */
}

.container {
    flex: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.3); /* Cor de fundo com transparência */
    max-width: 400px; /* Largura máxima do card */
    padding: 20px;
    margin: 50px auto;
}

.card-title {
    font-family: "Press Start 2P", sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 24px; /* Tamanho dos ícones */
    color: #ffffff; /* Cor dos ícones */
}

.share-icon {
    font-size: 24px; /* Tamanho do ícone */
    color: #25D366; /* Cor do ícone do WhatsApp */
}

.footer {
    color: #ffffff; /* Cor do texto do footer */
    padding: 20px 0; /* Espaçamento interno do footer */
    text-align: center; /* Alinhar texto ao centro */
    width: 100%; /* Largura total */
    position: fixed; /* Posicionamento fixo */
    bottom: 0; /* Alinhar ao rodapé */
    left: 0; /* Alinhar à esquerda */
    font-size: 14px; /* Tamanho fonte */
}
